<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!--<h1>Welcome to Ionic!</h1>
  <button ion-button color="omi" (click)="show=!show">Danger</button>
  <p *ngIf=show>Welcome to Omi's Color ?</p> -->
  <button (click)="getDataofGateways()">
    Get Data
  </button>
  <ion-card *ngFor="let a of GATEWAYS">
      
        <ion-card-header>
          Details of Devices
        </ion-card-header>

        <ion-list>
            <ion-item>
              <ion-icon name="leaf" item-start></ion-icon>
              Name: {{a.metadata.d_name}}<br> 
              DeviceType: {{a.metadata.d_type}}<br>
              uAPI: {{a.metadata.uAPI}}<br>
              endNodes: {{a.endNodes}}<br>
            </ion-item>
          </ion-list>    
  </ion-card>

  <!-- <ion-list Details Of Devices>
    <ion-icon name="leaf" item-start></ion-icon>
      <button ion-item *ngFor="let a of GATEWAYS" (click)="itemSelected(a)">
          Name: {{a.metadata.d_name}}<br> 
          DeviceType: {{a.metadata.d_type}}<br>
          uAPI: {{a.metadata.uAPI}}<br>
          endNodes: {{a.endNodes}}<br>
      </button> 
    </ion-list> -->